<div class="cttc">
    <div class="cttcname text-center h3">Others</div>
    
    <table>
        <tr>
            <td colspan="2">Institute Name</td>
            <td colspan="2">Central Training Room & Training Room, Bhubaneswar</td>
        </tr>
        <tr>        
            <td colspan="2">Course Name</td>
            <td colspan="2">ADMMA (Advance Diploma in Machine Maintenance & Automation)</td>
        </tr>
        <tr>
            <td colspan="2">Course Subjects</td>
            <td colspan="2">
                <ul>
                    <li>PLC (Programmable Logic Controller)</li>
                    <li>HMI (Human Machine Interface)</li>
                    <li>SCADA (Supervisory Control And Data Acquisition)</li>
                    <li>Simatic Manager</li>
                    <li>Pneunamatics & Hydraulics Application with PLC</li>
                    <li>Auto CAD Electrical Advanced Modeling</li>
                    <li>Machine Operation</li>
                    <li>Machine Maintenance</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">Project Name</td>
            <td colspan="2">Automatic Metal Separation System</td>
        </tr>
        <tr>
            <td>Date Of Joining</td>
            <td>25.08.15</td>
            <td>Date Of Passing</td>
            <td>24.02.2016</td>
        </tr>
    </table>
</div>
<br>
<br>