<div class="diploma">
    <div class="diplomaname text-center h3">DIPLOMA</div>
    <table>
        <tr>
            <td colspan="2">Board Name</td>
            <td colspan="2">State Council for Technical Education & Vocational Training, Odisha</td>
        </tr>
        <tr>        
            <td colspan="2">School Name</td>
            <td colspan="2">Jharsuguda Engineering School. Jharsuguda</td>
        </tr>
        <tr>
            <td colspan="2">Branch</td>
            <td colspan="2">Electrical Engineering</td>
        </tr>
        <tr>
            <td>Year Of Joining</td>
            <td>2012</td>
            <td>Year Of Passing</td>
            <td>2015</td>
        </tr>
        <tr>
            <td colspan="2">Total Mark</td>
            <td colspan="2">3700</td>  
        </tr>
        <tr>
            <td colspan="2">Secured Mark</td>
            <td colspan="2">2343</td>
        </tr>
        <tr>
            <td colspan="2">Percentage</td>
            <td colspan="2">63.3</td>
        </tr>
    </table>
</div>
<br>
<br>