.diplomaname {
  border: solid blueviolet;
  border-width: 0px 0px 3px 0px;
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-left: 47%;
  margin-top: -40px;
}

.diploma {
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 50px 150px;
}
.diploma td {
  border: 2px solid whitesmoke;
  border-collapse: collapse;
  height: 50px;
  width: 25%;
}
.diploma table {
  width: 100%;
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
    .diplomaname{
        margin-left: 39%;
        font-size: 20px;
    }
    .diploma{
        margin: 20px;
    }
}