<div class="webdev">
    <div class="webdevname text-center h3">Web Development </div>
    <table>
        <tr>
            <td colspan="2">Institute Name</td>
            <td colspan="2">Besant Technology, BTM-2</td>
        </tr>
        <tr>        
            <td colspan="2">Course Name</td>
            <td colspan="2">Web Development </td>
        </tr>
        <tr>
            <td colspan="2">Course Subjects</td>
            <td colspan="2">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Google API Integrations</li>
                    <li>Facebook API Integrations</li>
                    <li>Firebase Deployment</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Date Of Joining</td>
            <td>07.01.2021</td>
            <td>Date Of Passing</td>
            <td>07.02.2021</td>
        </tr>
        <tr>
            <td colspan="2">Project</td>
            <td colspan="2">eCommerce Site of a Bakery<br>
                <a target="_blank" href="https://kanhubakerywala-85de3.web.app/">Click Here</a> to open the site
            </td>
        </tr>
    </table>
</div>

<div class="angular">
    <div class="angularname text-center h3">Angular</div>
    <table>
        <tr>
            <td colspan="2">Institute Name</td>
            <td colspan="2">Besant Technology, BTM-2</td>
        </tr>
        <tr>        
            <td colspan="2">Course Name</td>
            <td colspan="2">Angular</td>
        </tr>
        <tr>
            <td colspan="2">Course Subjects</td>
            <td colspan="2">
                <ul>
                    <li>OOPS</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Angular Bootstrap</li>
                    <li>Angular Material Integrations</li>
                    <li>API call In Angular</li>
                    <li>Firebase Deployment</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Date Of Joining</td>
            <td>01.03.2021</td>
            <td>Date Of Passing</td>
            <td>31.03.2021</td>
        </tr>
        <br>
    </table>
</div>
<br>
<br>