<div class="projectsection text-center">
  <div class="projectheading h3">Project Section</div>
  <table>
    <tr>
      <td>Project Name</td>
      <td>eCommerce Site</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="description"><u>Description Of The Project</u></div>
        <div class="para1">
          I developed this site at the time of web development class.<br> This site
          is an eCommerece site of a bakery.<br> I developed this site with the help
          of HTML, CSS, Bootstrap, JavaScript.<br> This is a fully functional demo
          site. We can chose products, can add to cart, can make payment, can
          place order also we can apply for taking the franchise of this
          company.<hr>
        </div>
        <div class="techdes"><u>Technical Description</u></div>
        <div class="para2">
          To develope the body of this site I used the scripting language
          HTML.<br />
          For the designing of the UI I used the Scripting Language CSS &
          Bootstrap.<br />
          All the Icons which is used, I brought these from FontAwesome.<br />
          To make this site dynamic I used the programming language
          JavaScript.<br /> Here I have no backend, So for the back end I used the
          super power of browser i.e. Session Storage.<br/> Here I stored all the
          data which is chosed by the user and retrived the data from the
          Session Storage at the time of making payment.<br/> For make payment I used
          Stripe. Once the user make payment then the data automatically removed
          from the Session Storage.<br/> Finally I deployed this site in Firebase
          That's my site works.
        </div>
      </td>
    </tr>
    <tr>
        <td>Used Language & Tools</td>
        <td>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap 4.6</li>
                <li>JavaScript(ES6)</li>
                <li>Stripe</li>
                <li>Icons(FontAwesome)</li>
                <li>Images(Google)</li>
                <li>Visual Studio Code</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Link Of The Site</td>
        <td>https://kanhubakerywala-85de3.web.app/<br>Click<a href="https://kanhubakerywala-85de3.web.app/">Here</a> to open this site</td>
    </tr>
  </table>
</div>
