<div class="contact">

    <div class="basic">
        <div class="contactheading h3">General Details</div>
        <table>
            <tr>
                <td>Name</td>
                <td>Ritikrishna Sahoo</td>
            </tr>
            <tr>
                <td>Father Name</td>
                <td>Batakrishna Sahoo</td>
            </tr>
            <tr>
                <td>Mother Name</td>
                <td>Damyanti Sahoo</td>
            </tr>
            <tr>
                <td>DOB</td>
                <td>10.05.1997</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>Male</td>
            </tr>
        </table>
    </div>
    <div class="contactdetail">
        <div class="contactdetailheading h3">Contact Details</div>
        <table>
            <tr>
                <td>Contact Number</td>
                <td>+91-8249786272</td>
            </tr>
            <tr>
                <td>Alternate Contact Number</td>
                <td>+91-9861283272</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>ritikrishnasahoo@gmail.com</td>
            </tr>
            <tr>
                <td>Alternate Email Address</td>
                <td>ritikrishna88@gmail.com</td>
            </tr>
            <tr>
                <td>Permanent Address</td>
                <td>At/PO :- Jarada, PS :- Kaniha, Dist :- Angul, Odisha, PIN :- 759117</td>
            </tr>
            <tr>
                <td>Mailing Address</td>
                <td>Plot No :- 184, SLCSPG FOR GENTS, Near AXA Building, BTM-1, Bengalore, Karnatak, PIN - 560068</td>
            </tr>
        </table>
    </div>
</div>
<br>
<br>