<div class="tenth">
    <div class="tenthname h3">10 <sup>th</sup></div>
    <table>
        <tr>
            <td>Board Name</td>
            <td>Board Of Secondary Education, Odisha</td>
        </tr>
        <tr>
            <td>School Name</td>
            <td>Pabitra Mohan High School, Kaniha</td>
        </tr>
        <tr>
            <td>Year Of Passing</td>
            <td>2012</td>
        </tr>
        <tr>
            <td>Total Mark</td>
            <td>600</td>  
        </tr>
        <tr>
            <td>Mark Secured</td>
            <td>391</td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td>65.1</td>
        </tr>
    </table>
</div>
<br>
<br>