<div class="skill">
    <div class="skillname h3">Skills</div>
    <table>
        <tr>
            <td>Front End</td>
            <td>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Google, Facebook API Intigration</li>
                    <li>Firebase Deployment</li>
                </ul>
            </td>
        </tr>
        <tr class="bend">
            <td>Back End</td>
            <td>
                <ul>
                    <li>Node JS</li>
                    <li>Express JS</li>
                </ul>
            </td>
        </tr>
        <tr class="db">
            <td>Data Base</td>
            <td>
                <ul>
                    <li>Mongo DB</li>
                </ul>
            </td>
        </tr>
    </table>
</div>