<div class="btech">
    <div class="btechname text-center h3">B. Tech</div>
    <table>
        <tr>
            <td colspan="2">Board Name</td>
            <td colspan="2">Biju Pattnaik University of Technology, Rourkela</td>
        </tr>
        <tr>        
            <td colspan="2">Institute Name</td>
            <td colspan="2">Adarsha College of Engineering, Angul</td>
        </tr>
        <tr>
            <td colspan="2">Branch</td>
            <td colspan="2">Electrical Engineering</td>
        </tr>
        <tr>
            <td>Year Of Joining</td>
            <td>2016</td>
            <td>Year Of Passing</td>
            <td>2019</td>
        </tr>
        <tr>
            <td colspan="2">Total CGPA</td>
            <td colspan="2">10.00</td>  
        </tr>
        <tr>
            <td colspan="2">Secured CGPA</td>
            <td colspan="2">8.02</td>
        </tr>
        <tr>
            <td colspan="2">Percentage</td>
            <td colspan="2">75.2</td>
        </tr>
    </table>
</div>
<br>
<br>