.btechname {
  border: solid blueviolet;
  border-width: 0px 0px 3px 0px;
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-left: 48%;
  margin-top: -40px;
}

.btech {
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 50px 150px;
}
.btech td {
  border: 2px solid whitesmoke;
  border-collapse: collapse;
  height: 50px;
  width: 25%;
}
.btech table {
  width: 100%;
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
    .btechname{
        font-size: 20px;
        margin-left: 42%;
    }
    .btech{
        margin: 20px;
    }
}
