<div class="outline">
    <div class="name">
        <div class="prefix">
          Hello, My name is
        </div><br>
        <div class="fname">RITIKRIS<span style="color: blueviolet;">HNA SAHOO</span></div>
        <div class="details">
            <div class="static-word"> And I'm a </div> 
            <ul>
              <div class="dynamic-word">
                <li><span> Web Developer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li><span> Front End Developer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li><span> JavaScript Developer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li><span> UI Designer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
              </div>
            </ul>
        </div>

        <div class="passphoto"> 
          <div class="photo">
            <img src="../assets/1.jpg" alt="Photo">
          </div>
        </div>
        <div class="social">
            <div class="socio1"><a target="_blank" href="https://www.linkedin.com/in/ritikrishna-sahoo"><img src="../assets/linkedcircle.png" alt="Linkedin"></a></div>
            <div class="socio2"><a target="_blank" href="https://github.com/kanha88"><img src="../assets/github.png" alt="GitHub"></a></div>
            <div class="socio3"><a target="_blank" href="https://twitter.com/Ritikrishna88"><img src="../assets/twitter circle.png" alt="Twitter"></a></div>
            <div class="socio4"><a target="_blank" href="https://www.facebook.com/ritikrishna.sahoo.1/"><img src="../assets/fb.png" alt="FB"></a></div>
        </div>
    </div>
  </div>
